doctype html
html
  head
    title Dance Academy
    block scripts
    block style
  body 
    nav#navbar
       ul
          div#logo
              img(src="/static/img/logo.png")
              | DDA
          li #[a(href = "/") Home] 
          li #[a(href = "/") About] 
          li #[a(href = "/") services]
          li #[a(href = "/") Class Info]
          li #[a(href = "/contact") Contact Us]   

    block content
    footer#footer
        | Copyright Ⓒ 2023 DathuDanceAcademy.com All rights reserved